
{% extends "blogmaster.html"%}

{%block title%}
    <title>Login</title>
{%endblock%}

{%block css %}
     .loginForm {
            text-align: center;
            margin-top: 115px;
            display: block;
            border: 3px dashed #dddddd;
     }
{% endblock %}


{%block content%}
    {#    <form action="{{ url_for('login') }}" method=post>#}
    {#        {{ form.csrf_token }}#}
    {#        Username:#}
    {#        <input type="text" name="username">#}
    {#        Password:#}
    {#        <input type="password" name="password">#}
    {#        <input type=submit value="登陆">#}
    {#        <p>{{ login_false }}</p>#}
    {#        <input type=hidden value="{{ next or '' }}" name=next>#}
    {#    </form>#}
    {##}

    <div class="loginForm">
        <form action="{{ url_for('login') }}" method=post>
            {{ form.csrf_token }}
            <p>{{ form.username.label }}{{ form.username }}</p>
            <p>{{ form.password.label }}{{ form.password }}</p>
            <p><input name="remember" type="checkbox">Remember Me</p>
            <span><input type="submit" value="LOGIN"></span>
                <span><a href="{{ url_for('index') }}">返回主页</a></span>
        </form>
        <p>
        {% for message in get_flashed_messages() %}
            <li><font color="red">{{ message }}</font></li>
        {% endfor %}
        </p>
    </div>
{%endblock%}


